.theme-dark body {
  --tab-text-color-active: var(--text-accent);
  --tab-text-color-focused-active: var(--text-accent);
  --tab-text-color-focused-active-current: var(--text-accent);
  --tab-divider-color: var(--titlebar-background);
  --tab-outline-color: var(--halcyon-accent);
  --tab-outline-width: 0;
  --tab-curve: 0;
  --tab-radius: 0;
  --tab-radius-active: 0;
}

.theme-dark body {
  --modal-border-color: var(--halcyon-base-blue-02);
}

.theme-dark body {
  --prompt-border-color: var(--halcyon-base-blue-02-03-mix);
}

.theme-dark body {
  --toggle-border-width: 10px;
  --toggle-width: 1px;
  --toggle-radius: 0px;
  --toggle-thumb-color: var(--text-on-accent);
  --toggle-thumb-radius: 0;
}

.theme-dark body {
  --checkbox-color: var(--halcyon-palette-lilac);
  --checkbox-color-hover: var(--halcyon-palette-lilac-hover);
  --checkbox-border-color: var(--halcyon-palette-lilac);
  --checkbox-border-color-hover: var(--halcyon-palette-lilac-hover);
}

.theme-dark body {
  --drag-ghost-background: var(--halcyon-base-blue-03);
  --drag-ghost-text-color: var(--interactive-accent);
}

.theme-dark body {
  --nav-item-color: var(--text-muted);
  --nav-item-color-active: var(--interactive-accent);
  --nav-item-color-selected: var(--halcyon-palette-orange);
  --nav-item-background-selected: var(--halcyon-base-blue-03);
  --nav-indetation-guide-color: var(--halcyon-accent);
  --nav-collapse-icon-color: var(--halcyon-accent);
}

.theme-dark body {
  --input-radius: 0;
}

.theme-dark body {
  --code-background: var(--halcyon-base-blue-01);
  --code-normal: var(--halcyon-palette-cyan);
  --code-comment: var(--text-faint);
  --code-function: var(--halcyon-code-function);
  --code-important: var(--halcyon-code-error);
  --code-keyword: var(--halcyon-code-keyword);
  --code-property: var(--text-muted);
  --code-operator: var(--halcyon-code-operator);
  --code-punctuation: var(--halcyon-palette-lilac);
  --code-string: var(--halcyon-palette-lime);
  --code-tag: var(--halcyon-base-grey-dark);
}

.theme-dark body {
  --file-line-width: 50rem;
}

.theme-dark body {
  --link-color: var(--halcyon-palette-lilac);
  --link-color-hover: var(--halcyon-palette-lilac-hover);
  --link-external-color: var(--halcyon-palette-lilac);
  --link-external-color-hover: var(--halcyon-palette-lilac-hover);
  --link-unresolved-color: var(--halcyon-palette-lilac);
  --link-unresolved-decoration-color: var(--halcyon-palette-lilac);
  --link-unresolved-decoration-style: dashed;
}

.theme-dark body {
  --tag-background: mix(var(--tag-color), transparent, 25%);
  --tag-background-hover: mix(var(--tag-color-hover), transparent, 25%);
  --tag-color: var(--halcyon-palette-cyan);
  --tag-color-hover: var(--halcyon-palette-cyan);
  --tag-decoration-hover: underline;
  --tag-size: var(--code-size);
}

.theme-dark body {
  --list-marker-color: var(--halcyon-palette-lilac);
  --list-marker-color-hover: var(--halcyon-palette-lilac-hover);
  --list-marker-color-collapsed: var(--halcyon-palette-lime);
}

.theme-dark body {
  --table-background: var(--background-primary);
  --table-header-background-hover: var(--table-background);
  --table-header-size: larger;
}

.theme-dark body {
  --callout-padding: var(--size-4-3) var(--size-4-6);
}

.theme-dark body .markdown-source-view.is-live-preview .callout-content {
  margin: 1em 0;
  padding: var(--callout-padding);
}
.theme-dark body > pre {
  margin: 1em 0;
}

.theme-dark body {
  --h1-color: var(--halcyon-palette-lime);
  --h2-color: var(--halcyon-palette-lime);
  --h3-color: var(--halcyon-palette-lime);
  --h4-color: var(--halcyon-palette-lime);
  --h5-color: var(--halcyon-palette-lime);
  --h6-color: var(--halcyon-palette-lime);
  --h1-weight: 700;
  --h2-weight: 675;
  --h3-weight: 650;
  --h4-weight: 625;
  --h5-weight: 600;
  --h6-weight: 575;
}

.theme-dark body {
  --blockquote-color: color-mix(in srgb, var(--halcyon-palette-yellow) 75%, var(--halcyon-text-normal));
  --callout-padding: var(--size-4-3) var(--size-4-6);
}

.theme-dark body {
  --metadata-label-text-color: var(--halcyon-palette-cyan);
  --metadata-label-text-color-hover: var(--halcyon-palette-cyan-hover);
  --metadata-input-text-color: var(--halcyon-palette-lime);
}

.theme-dark body {
  --hr-color: mix(var(--text-faint), var(--background-modifier-border), 50%);
}

body:is(.theme-dark) {
  --icon-stroke: 2px;
  --icon-color-active: var(--interactive-accent);
  --icon-color-focused: var(--interactive-accent);
  --clickable-icon-radius: 0;
}

body:is(.theme-dark) {
  --color-base-00: var(--halcyon-base-blue-01);
  --color-base-05: var(--halcyon-base-blue-01-02-mix);
  --color-base-10: var(--halcyon-base-blue-02);
  --color-base-20: var(--halcyon-base-blue-02-03-mix);
  --color-base-25: var(--halcyon-base-blue-03);
  --color-base-30: var(--halcyon-base-blue-03-04-mix);
  --color-base-35: var(--halcyon-base-blue-04);
  --color-base-40: var(--halcyon-base-blue-04-05-mix);
  --color-base-50: var(--halcyon-base-blue-05);
  --color-base-60: var(--halcyon-base-grey-dark);
  --color-base-70: var(--halcyon-base-grey-mix);
  --color-base-100: var(--halcyon-base-grey-light);
  --accent-h: var(--halcyon-accent-h);
  --accent-s: var(--halcyon-accent-s);
  --accent-l: var(--halcyon-accent-l);
  /* Extended color variables define the broader range of colors used for status messages (errors, warnings, success), callouts, syntax highlighting, graph nodes, and Canvas elements */
  --color-red: var(--halcyon-palette-salmon);
  --color-red-rgb: 239, 107, 115;
  --color-orange: var(--halcyon-palette-orange);
  --color-orange-rgb: 255, 174, 87;
  --color-yellow: var(--halcyon-palette-yellow);
  --color-yellow-rgb: 255, 204, 102;
  --color-green: var(--halcyon-palette-lime);
  --color-green-rgb: 186, 230, 126;
  --color-cyan: var(--halcyon-palette-cyan);
  --color-cyan-rgb: 92, 207, 230;
  --color-blue: var(--halcyon-palette-blue);
  --color-blue-rgb: 112, 153, 219;
  --color-purple: var(--halcyon-palette-lilac);
  --color-purple-rgb: 195, 166, 255;
  --color-pink: var(--halcyon-palette-pink);
  --color-pink-rgb: 249, 207, 242;
  /* Semantic colors are derived from the base color palette based on their intended use. */
  --background-primary: var(--halcyon-base-blue-02);
  --background-primary-alt: var(--halcyon-base-blue-03);
  --background-secondary: var(--halcyon-base-blue-01);
  --background-secondary-alt: var(--halcyon-base-blue-02);
  --background-modifier-hover: var(--halcyon-base-blue-03);
  --background-modifier-active-hover: var(--halcyon-base-blue-03);
  --background-modifier-border: var(--halcyon-base-blue-02-03-mix);
  --background-modifier-border-hover: var(--halcyon-accent);
  --background-modifier-border-focus: var(--halcyon-base-blue-04);
  --background-modifier-message: var(--halcyon-base-blue-02-03-mix);
  --interactive-hover: var(--background-primary);
  --interactive-accent: var(--halcyon-accent);
  --interactive-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --interactive-accent-hover: mix(var(--halcyon-accent), transparent, 75%);
  --interactive-normal: mix(var(--background-primary), transparent, 75%);
  /* Text Colors */
  --text-normal: var(--halcyon-text-normal);
  --text-muted: color-mix(
  								in hsl,
  								var(--halcyon-text-muted),
  								var(--text-normal)
  );
  --text-faint: var(--halcyon-text-muted);
  --text-on-accent: var(--halcyon-base-blue-03);
  --text-error: var(--halcyon-palette-salmon);
  --text-warning: var(--halcyon-palette-salmon);
  --text-success: var(--halcyon-palette-lime);
  --text-accent: var(--halcyon-accent);
  --text-accent-hover: var(--halcyon-accent-hover);
  --text-selection: mix(var(--halcyon-base-blue-03-04-mix), transparent, 35%);
  --text-highlight-bg: var(--halcyon-base-blue-03);
}

body:is(.theme-dark) {
  --radius-s: 2px;
  --radius-m: 4px;
  --radius-l: 6px;
  --radius-xl: 8px;
}

body:is(.theme-dark) {
  --bold-color: var(--halcyon-palette-salmon);
  --italic-color: var(--halcyon-palette-salmon);
}

.theme-dark body {
  --graph-line: var(--halcyon-base-blue-03);
  --graph-node-unresolved: var(--halcyon-palette-salmon);
  --graph-node-tag: var(--halcyon-palette-lilac);
}

body {
  --popover-display: block;
  --tooltip-display: none;
}

@media screen and (max-width: 750px) {
  body {
    --popover-display: none;
    --input-height: 36px;
  }
  .published-container {
    --header-background: var(--background-primary);
    --footer-display: none;
    --header-height: 50px;
    --site-name-size: 18px;
    --page-side-padding: 24px;
    --list-spacing: 0.15em;
    --page-title-size: 2em;
  }
}
em {
  font-style: italic;
}
em a.internal-link, em a.internal-link.is-unresolved {
  color: var(--halcyon-palette-cyan);
}

strong em a.external-link, strong em a.internal-link, strong em a.internal-link.is-unresolved {
  color: var(--halcyon-palette-orange);
}

.site-body-left-column-site-name {
  align-self: center;
}

.published-container {
  --nav-collapse-icon-color: var(--text-faint);
  --nav-collapse-icon-color-hover: var(--text-muted);
  --footer-display: block;
  --sidebar-font-size: 14px;
  --outline-heading-color: var(--text-muted);
  --outline-heading-color-active: var(--text-accent);
  --outline-heading-color-hover: var(--text-normal);
  --outline-heading-weight-active: var(--font-semibold);
  --graph-height: 260px;
  --header-height: 50px;
  --input-height: 32px;
  --logo-height: auto;
  --nav-item-border-color: var(--background-modifier-border);
  --nav-item-border-color-active: var(--text-muted);
  --nav-item-border-color-hover: mix(var(--halcyon-accent), transparent, 75%);
  --nav-item-color-active: var(--halcyon-accent);
  --nav-item-color-hover: mix(var(--halcyon-accent), transparent, 75%);
  --nav-item-weight-active: var(--font-medium);
  --sidebar-left-background: var(--background-primary);
  --sidebar-left-border-color: var(--background-modifier-border);
  --sidebar-left-border-width: 1px;
  --sidebar-left-width: 280px;
  --logo-max-height: 200px;
  --logo-max-width: calc(100% - 18px);
  --site-menu-icon-color: var(--text-faint);
  --site-menu-icon-color-hover: var(--text-normal);
  --site-menu-icon-size: 24px;
  --site-name-color: var(--halcyon-accent);
  --site-name-color-hover: mix(var(--halcyon-accent), transparent, 75%);
  --site-name-font: inherit;
  --site-name-size: 22px;
  --site-name-weight: var(--font-semibold);
  --nav-parent-item-color: var(--text-normal);
  --nav-parent-item-color-active: mix(var(--halcyon-accent), transparent, 75%);
  --nav-parent-item-weight: var(--font-medium);
  --logo-radius: 8px;
  --sidebar-right-background: transparent;
  --sidebar-right-border-color: var(--background-modifier-border);
  --sidebar-right-border-width: 0px;
  --sidebar-right-width: 300px;
  --page-side-padding: 48px;
  --component-title-color: var(--text-normal);
  --page-title-color: var(--h1-color);
  --component-title-font: inherit;
  --page-title-font: var(--h1-font);
  --page-title-line-height: var(--h1-line-height);
  --component-title-size: var(--font-ui-small);
  --page-title-size: 2.6em;
  --component-title-style: inherit;
  --page-title-style: var(--h1-style);
  --component-title-transform: uppercase;
  --component-title-variant: inherit;
  --page-title-variant: var(--h1-variant);
  --component-title-weight: var(--font-semibold);
  --page-title-weight: var(--h1-weight);
  --logo-width: auto;
  --page-width: 800px;
}

/*# sourceMappingURL=publish.css.map */
