// Graph
.theme-dark body {
	--graph-line: var(--halcyon-base-blue-03);
	--graph-node-unresolved: var(--halcyon-palette-salmon);
	--graph-node-tag: var(--halcyon-palette-lilac);
	// --graph-controls-width: ;
	// --graph-text: red;
	// --graph-node: ;
	// --graph-node-focused: ;
	// --graph-node-attachment: ;
}
