/* Graph */
body:where(.theme-dark) {
	/* --graph-controls-width: ; */
	/* --graph-text: red; */
	--graph-line: var(--halcyon-base-blue-03);
	/* --graph-node: ; */
	--graph-node-unresolved: var(--halcyon-palette-salmon);
	/* --graph-node-focused: ; */
	--graph-node-tag: var(--halcyon-palette-lilac);
	/* --graph-node-attachment: ; */
}
