// Search
.theme-dark body {
	--search-clear-button-color: var(--halcyon-palette-salmon);
	--search-icon-color: var(--halcyon-accent);
	--search-icon-size: 10px;
	// --search-clear-button-size: ;
	// --search-result-background: green;
}
