.published-container {
	//  // Sidebars
	//  --sidebar-font-size: 14px;
	--sidebar-left-width: 17.5rem;
	//  --sidebar-left-background: var(--background-primary);
	--sidebar-left-border-width: 0.0625rem;
	//  --sidebar-left-border-color: var(--background-modifier-border);
	--sidebar-right-width: 18.75rem;
	//  --sidebar-right-background: transparent;
	//  --sidebar-right-border-width: 0px;
	//  --sidebar-right-border-color: var(--background-modifier-border);
}
