.published-container {
//  /* Site header */
//  --logo-width: auto;
//  --logo-height: auto;
  --logo-max-height: 12.5rem;
  --logo-max-width: calc(100% - 18px);
//  --logo-radius: 8px;
//  --header-height: 50px;
  --site-name-color: var(--halcyon-accent);
  --site-name-color-hover: mix(var(--halcyon-accent), transparent, 75%);
//  --site-name-font: inherit;
  --site-name-size: 1.375rem;
//  --site-name-weight: var(--font-semibold);
//  --site-menu-icon-color: var(--text-faint);
//  --site-menu-icon-color-hover: var(--text-normal);
//  --site-menu-icon-size: 24px;
}
