/* Properties in Source: Make keys blue */
body.theme-dark:not(.no-fix-properties-highlighting)
	.cm-hmd-frontmatter.cm-atom {
	color: var(--color-cyan);
}
/* Properties in Source: Make semicolon and list dashes orange */
body.theme-dark:not(.no-fix-properties-highlighting)
	.cm-hmd-frontmatter.cm-meta {
	color: var(--color-orange);
}
/* Properties in Source: Make values green */
body.theme-dark:not(.no-fix-properties-highlighting) .cm-hmd-frontmatter {
	color: var(--color-green);
}
/* Properties: Make icons blue. */
body.theme-dark:not(.no-fix-properties-highlighting) .metadata-property-icon {
	color: var(--halcyon-palette-cyan);
}
