// make suggestions yellow
body.theme-dark:not(.dont-make-prompt-suggestions-emphasized)
	.prompt
	> .prompt-results
	> .suggestion-item
	.suggestion-highlight {
	color: var(--interactive-accent);
}
// make typed text bold, and yellow
body.theme-dark:not(.dont-make-prompt-suggestions-emphasized)
	.prompt
	input.prompt-input {
	color: var(--interactive-accent);
	font-weight: bold;
}
