/* Set the active/focused color of inputs to accent color, but NOT on checkboxes */
body:is(.theme-dark):not(.no-fix-text-input-selection)
	:is(
		textarea,
		input:not([type='checkbox']),
		input.metadata-input-text,
		select
	):is(:focus, :active, :focus-visible),
body:is(.theme-dark):not(.no-fix-text-input-selection)
	.metadata-property:is(:focus, :focus-within),
body:is(.theme-dark):not(.no-fix-text-input-selection) .text-icon-button:focus,
body:is(.theme-dark):not(.no-fix-text-input-selection)
	.metadata-properties-heading:focus:before {
	box-shadow: 0 0 0 1px var(--interactive-accent);
}

/* Fix: selecting text in input elements */
body:is(.theme-dark):not(.no-fix-text-input-selection)
	.metadata-input-longtext::selection,
body:is(.theme-dark):not(.no-fix-text-input-selection) input::selection,
body:is(.theme-dark):not(.no-fix-text-input-selection) textarea::selection {
	background-color: var(--halcyon-base-blue-03-04-mix);
}
