/* Fix: do not color links in comments */
body:is(.theme-dark)
	:is(
		.cm-comment.cm-hmd-internal-link,
		.cm-comment.cm-link,
		.cm-comment.cm-string
	) {
	color: var(--code-comment);
}
/* Fix: do not underline links on comments */
body:is(.theme-dark)
	:is(
		.cm-comment.cm-string,
		.cm-comment.cm-hmd-internal-link:hover,
		.cm-comment.cm-link:hover
	) {
	text-decoration: none;
}
