// Make tabs square

/* Remove left padding and top margin in a tab group: approximate rectangular tabs */
body:where(.theme-dark)
	.workspace-split:not(.mod-left-split, .mod-right-split)
	.workspace-tabs:not(.mod-stacked)
	.workspace-tab-header-container-inner {
	padding-left: 0px;
	margin-top: 0px;
}
/* Counterbalance: add padding internally instead. */
body:where(.theme-dark)
	.workspace-split:not(.mod-left-split, .mod-right-split)
	.workspace-tabs:not(.mod-stacked)
	.workspace-tab-header-inner-title {
	padding-left: 10px;
}
/* Counterbalance #2: remove padding from icons */
body:where(.theme-dark)
	.workspace-split:not(.mod-left-split, .mod-right-split)
	.workspace-tabs:not(.mod-stacked)
	.workspace-tab-header-inner-icon {
	padding-right: 0px;
}
/* Counterbalance #3: align tabs back with the + and dropdown icons */
body:where(.theme-dark)
	.workspace-split:not(.mod-left-split, .mod-right-split)
	.workspace-tabs:not(.mod-stacked)
	.workspace-tab-header-container-inner
	> .workspace-tab-header {
	padding: 3px 6px 0;
}
/* Add line to tabs: line itself */
body:where(.theme-dark)
	.workspace-tabs:not(.mod-stacked)
	.workspace-tab-header:is(.mod-active, .is-active)
	> .workspace-tab-header-inner {
	border-bottom: 1px solid var(--interactive-accent);
}
/* Add line to tabs: line on hover */
body:where(.theme-dark)
	.workspace-tabs:not(.mod-stacked)
	.workspace-tab-header
	> .workspace-tab-header-inner:hover {
	border-bottom: 1px solid var(--interactive-accent);
}
/* Add line to tabs: sneaky hack to fix spacing */
body:where(.theme-dark)
	.workspace-tabs:not(.mod-stacked)
	.workspace-tab-header
	> .workspace-tab-header-inner {
	border-bottom: 1px solid var(--background-secondary);
}
/* Sidebar tabs: align with main tabs */
body:where(.theme-dark)
	:is(.mod-left-split, .mod-right-split)
	.workspace-tab-header-container-inner {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
	gap: 1px;
	padding-left: 0;
}
