/* Blockquote: Extra */
/* Make blockquote small caps, but not in codeblocks. */
body:is(.theme-dark) .markdown-rendered blockquote,
body:is(.theme-dark)
	.markdown-source-view:is(.is-live-preview)
	span.cm-quote:not(.cm-inline-code) {
	font-variant: small-caps;
}
body:is(.theme-dark) .markdown-rendered blockquote :is(pre, code) {
	font-variant: normal;
}
/* Fix source/lp: Italics in quotes should have italic color. */
body:where(.theme-dark) .cm-em.cm-quote {
	color: var(--italic-color);
}
/* Fix source/lp: Bolds in quotes should have bold color. */
body:where(.theme-dark) .cm-strong.cm-quote {
	color: var(--bold-color);
}
