// Callout
body:is(.theme-dark) {
	// --callout-border-width: ;
	// --callout-border-opacity: ;
	--callout-padding: var(--size-4-3) var(--size-4-6);
	// --callout-radius: ;
	// --callout-blend-mode: multiply;
	// --callout-title-color: red;
	// --callout-title-padding: 10px;
	// --callout-title-size: ;
	// --callout-content-padding: 0px;
	// --callout-content-background: black;
	// --callout-bug	bug
	// --callout-default: var(--color-pink-rgb);
	// --callout-error	error, danger
	// --callout-example	example
	// --callout-fail	fail, failure, missing
	// --callout-important	important
	// --callout-info	info
	// --callout-question	question, help, faq
	// --callout-success	success, check, done
	// --callout-summary	summary, abstract, tldr
	// --callout-tip	tip, hint
	// --callout-todo	todo
	// --callout-warning	warning, caution, attention
	// --callout-quote	quote, cite
}
// Callout: Extra
// Fix: Callouts in live preview
body:is(.theme-dark)
	.markdown-source-view:is(.is-live-preview)
	.callout-content
	> .callout {
	margin: 1em 0;
	padding: var(--callout-padding);
}
// Fix: codeblocks in callouts in live preview
body:is(.theme-dark)
	.markdown-source-view:is(.is-live-preview)
	.callout-content
	> pre {
	margin: 1em 0;
}
