// Code
body:is(.theme-dark) {
	//--code-white-space: pre-wrap;
	//--code-radius: var(--radius-s);
	//--code-size: var(--font-smaller);
	--code-background: var(--halcyon-base-blue-01);

	// Syntax Highlighting
	--code-normal: var(--halcyon-palette-cyan);
	--code-comment: var(--text-faint);
	--code-function: var(--halcyon-code-function);
	--code-important: var(--halcyon-code-error);
	--code-keyword: var(--halcyon-code-keyword);
	--code-property: var(--text-muted);
	--code-operator: var(--halcyon-code-operator);
	--code-punctuation: var(--halcyon-palette-lilac);
	--code-string: var(--halcyon-palette-lime);
	--code-tag: var(--halcyon-base-grey-dark);
	// --code-value: var(--color-purple);
}
