// Headings
body:is(.theme-dark) {
	// --heading-formatting: ;
	--h1-color: var(--halcyon-palette-lime);
	--h2-color: var(--halcyon-palette-lime);
	--h3-color: var(--halcyon-palette-lime);
	--h4-color: var(--halcyon-palette-lime);
	--h5-color: var(--halcyon-palette-lime);
	--h6-color: var(--halcyon-palette-lime);
	// --h1-font: ;
	// --h2-font: ;
	// --h3-font: ;
	// --h4-font: ;
	// --h5-font: ;
	// --h6-font: ;
	// --h1-line-height: ;
	// --h2-line-height: ;
	// --h3-line-height: ;
	// --h4-line-height: ;
	// --h5-line-height: ;
	// --h6-line-height: ;
	// --h1-size: ;
	// --h2-size: ;
	// --h3-size: ;
	// --h4-size: ;
	// --h5-size: ;
	// --h6-size: ;
	// --h1-style: ;
	// --h2-style: ;
	// --h3-style: ;
	// --h4-style: ;
	// --h5-style: ;
	// --h6-style: ;
	// --h1-variant: ;
	// --h2-variant: ;
	// --h3-variant: ;
	// --h4-variant: ;
	// --h5-variant: ;
	// --h6-variant: ;
	--h1-weight: 700;
	--h2-weight: 675;
	--h3-weight: 650;
	--h4-weight: 625;
	--h5-weight: 600;
	--h6-weight: 575;
}
