/* Table */
body:is(.theme-dark) {
	--table-background: var(--background-primary);
	//--table-border-width: 1px;
	//--table-border-color: var(--background-modifier-border);
	//--table-white-space: break-spaces;
	//--table-header-background: var(--table-background);
	--table-header-background-hover: var(--table-background);
	//--table-header-border-width: var(--table-border-width);
	//--table-header-border-color: var(--table-border-color);
	//--table-header-font: inherit;
	--table-header-size: larger;
	//--table-header-weight: calc(var(--font-weight) + var(--bold-modifier));
	//--table-header-color: var(--text-normal);
	//--table-line-height: var(--line-height-tight);
	//--table-text-size: var(--font-text-size);
	//--table-text-color: inherit;
	//--table-column-min-width: 6ch;
	//--table-column-max-width: none;
	//--table-column-alt-background: var(--table-background);
	//--table-column-first-border-width: var(--table-border-width);
	//--table-column-last-border-width: var(--table-border-width);
	//--table-row-background-hover: var(--table-background);
	//--table-row-alt-background: var(--table-background);
	//--table-row-alt-background-hover: var(--table-background);
	//--table-row-last-border-width: var(--table-border-width);
	//--table-selection: hsla(var(--color-accent-hsl), 0.1);
	//--table-selection-blend-mode: var(--highlight-mix-blend-mode);
	//--table-selection-border-color: var(--interactive-accent);
	//--table-selection-border-width: 2px;
	//--table-selection-border-radius: 4px;
	//--table-cell-vertical-alignment: top;
	//--table-drag-handle-background: transparent;
	//--table-drag-handle-background-active: var(--table-selection-border-color);
	//--table-drag-handle-color: var(--text-faint);
	//--table-drag-handle-color-active: var(--text-on-accent);
	//--table-add-button-background: transparent;
	//--table-add-button-border-width: var(--table-border-width);
	//--table-add-button-border-color: var(--background-modifier-border);
}
