// Table
body:is(.theme-dark) {
	--table-background: var(--background-primary);
	// --table-border-width: ;
	// --table-border-color: var(--halcyon-palette-cyan);
	// --table-white-space: ;
	// --table-header-background:  var(--background-secondary);
	--table-header-background-hover: var(--table-background);
	// --table-header-border-width: ;
	// --table-header-border-color: ;
	// --table-header-font: ;
	--table-header-size: larger;
	// --table-header-weight: ;
	// --table-header-color: var(--halcyon-accent);
	// --table-text-size: ;
	// --table-text-color: ;
	// --table-column-max-width: ;
	// --table-column-alt-background: unset;
	// --table-column-first-border-width: ;
	// --table-column-last-border-width: ;
	// --table-row-background-hover: red;
	// --table-row-alt-background: var(--background-secondary);
	// --table-last-border-width: ;
}
