// Tags
.theme-dark body {
	--tag-background: mix(var(--tag-color), transparent, 25%);
	--tag-background-hover: mix(var(--tag-color-hover), transparent, 25%);
	--tag-color: var(--halcyon-palette-cyan);
	--tag-color-hover: var(--halcyon-palette-cyan);
	--tag-decoration-hover: underline;
	--tag-size: var(--code-size);
	// tag-deoration: underline;
	// --tag-border-color: ;
	// --tag-border-color-hover: ;
	// --tag-border-width: ;
	// --tag-padding-x: 8px;
	// --tag-padding-y: 1px;
	// --tag-radius: 8px;
	// --tag-weight: 450;
}
