// Navigation

.theme-dark body {
  // -nav-item-size: ;
  --nav-item-color: var(--text-muted);
  // --nav-item-color-hover: ;
  --nav-item-color-active: var(--interactive-accent);
  --nav-item-color-selected: var(--halcyon-palette-orange);
  // --nav-item-color-highlighted: ;
  // --nav-item-background-hover: ;
  // --nav-item-background-active: ;
  --nav-item-background-selected: var(--halcyon-base-blue-03);
  // --nav-item-padding: ;
  // --nav-item-parent-padding: ;
  // --nav-item-children-padding-left: ;
  // --nav-item-children-margin-left: ;
  // --nav-item-weight: ;
  // --nav-item-weight-hover: ;
  // --nav-item-weight-active: ;
  // --nav-item-white-space: ;
  // --nav-indentation-guide-width: ;
  --nav-indetation-guide-color: var(--halcyon-accent);
  --nav-collapse-icon-color: var(--halcyon-accent);
  // --nav-collapse-icon-color-collapsed:
}
