/* Navigation */
body:where(.theme-dark) {
	/* --nav-item-size: ; already set */
	--nav-item-color: var(--text-muted);
	/* --nav-item-color-hover: ; already set */
	--nav-item-color-active: var(--interactive-accent);
	--nav-item-color-selected: var(--halcyon-palette-orange);
	/* --nav-item-color-highlighted: ; already set */
	/* --nav-item-background-hover: ; already set */
	/* --nav-item-background-active: ; already set */
	--nav-item-background-selected: var(--halcyon-base-blue-03);
	/* --nav-item-padding: ; already set */
	/* --nav-item-parent-padding: ; already set */
	/* --nav-item-children-padding-left: ; already set */
	/* --nav-item-children-margin-left: ; already set */
	/* --nav-item-weight: ; already set */
	/* --nav-item-weight-hover: ; already set */
	/* --nav-item-weight-active: ; already set */
	/* --nav-item-white-space: ; already set */
	/* --nav-indentation-guide-width: ; already set */
	/* --nav-indetation-guide-color: var(--halcyon-accent); */
	/* --nav-collapse-icon-color: var(--halcyon-accent); */
	/* --nav-collapse-icon-color-collapsed: already set */
}
