/* Tabs */
body:where(.theme-dark) {
	/* --tab-background-active: already set */
	/* --tab-text-color:  already set */
	--tab-text-color-active: var(--text-accent);
	/* --tab-text-color-focused:  already set */
	--tab-text-color-focused-active: var(--text-accent);
	/* --tab-text-color-focused-highlighted: already set */
	--tab-text-color-focused-active-current: var(--text-accent);
	/* --tab-font-size */
	/* --tab-font-weight */
	/* --tab-container-background: already set; */
	--tab-divider-color: var(--titlebar-background);

	/* --tab-outline-color: var(--halcyon-accent); */
	--tab-outline-width: 0px;
	--tab-curve: 0px;
	--tab-radius: 0px;
	--tab-radius-active: 0px;
	/* --tab-width: 100%; */
	/* --tab-max-width: ; */
}
